:root {
  --brightness: 100%;
  --contrast: 100%;
  --saturation: 100%;
  --hue: 0deg;
  --blur: 0px;
}

body {
  display: flex;
  flex-wrap: wrap;
  font-family: arial;
  font-size: 20px;
}

.btn-scroller {
  width: 80%;
  display: block;
  margin: 20px auto;
}

.bars-and-img {
  display: flex;
  align-items: center;
}
.range-bars {
  width: 40%;
  padding: 20px;
}
.example-image {
  width: 60%;
}

.bar {
  display: block;
  width: 90%;
  margin: 10px auto;
}

.example-image {
  filter: brightness(var(--brightness)) contrast(var(--contrast))
    saturate(var(--saturation)) hue-rotate(var(--hue)) blur(var(--blur));
}

.example-section {
  width: 100%;
  font-size: 40px;
  padding: 0 20px;
  background-color: black;
  color: white;
  height: 100vh;
}
